.footer{
    height: 90px;
    background-color: indigo;
    display: block;
    color: white;
}
.footer_icons{
    margin-left: 40%;
    margin-top: 5px;  
}
.footer_msg{
    margin-left: 600px; 
    margin-top: 5%; 
    padding-top: 15px;
}
