.blocks{
    display: flex;
    background-color: indigo;
    color: white;
    justify-content: space-between;
}
.logo_inner{
    display: flex;
    margin: 15px;
    padding: 5px;
}
img{
    width: 25px;
    height: 20px;
    padding: 5px;
}
.content
{
    padding: 5px;
}
.side_buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.side_button{
    padding: 20px;
}
a{
    color: white;
    text-decoration: none;
}
