.bg_img{
    height: 350px;
    background-image: url('../images/welcome-banner.jpg');
    background-size: cover; /* Scale image to cover entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent tiling */
}
.buttons{
    margin-top: 3%;
    margin-left: 30%;
}
.admin_box,.applicant_box{
    display: inline-flex;
    min-height: 100px;
    min-width: 200px;
    border: thin solid;
    border-radius: 20px;
    background-color: indigo;
    opacity: 0.6;
    font-size: 20px; 
    color: white;
    align-items: center;
    justify-content: center;
}
.admin_box:hover, .applicant_box:hover{
    opacity: 1;
}
