.box{
    padding: 20px;
    border: thin solid lightgray;
    color: indigo;
    margin-top: 70px;
    margin-left: 550px;
    font-size: 20px;
    width: 300px;
}
.heading{
    text-align: center;
}
.form-group {
    display: grid;
    grid-template-columns: 100px 0.5fr; /* label fixed, input flexible */
    align-items: center;
}
input{
    width: 150px; /* fill in the grid cell */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 15px;
}
.forgotpwd{
    color: lightgray;
    padding: 5px;
}
.loginbutton{
    background-color: indigo;
    color: white;
    opacity: 0.6;
    width: 100px;
    height: 30px;
    padding: 2px;
    border-radius: 10px;
    border: thin solid indigo;
}
.resetbutton{
    background-color: indigo;
    color: white;
    opacity: 0.6;
    width: 100px;
    height: 30px;
    padding: 2px;
    border-radius: 10px;
    border: thin solid indigo;
    margin-left: 70px;
}
.loginbutton:hover, .resetbutton:hover{
    opacity: 1;
    cursor: pointer;
}
