.footer{
    height: 100px;
    background-color: indigo;
    display: block;
    color: white;
}
.footer_icons{
    margin-left: 40%;
    margin-top: 1%;  
}
.footer_msg{
    margin-left: 41%; 
    margin-top: 5%; 
    padding-top: 25px;
}
