.box{
    padding: 20px;
    border: thin solid lightgray;
    color: indigo;
    margin-top: 40px;
    margin-left: 450px;
    font-size: 20px;
    width: 450px;
    height: fit-content;
}
.heading{
    text-align: center;
}
.form-group {
    display: grid;
    grid-template-columns: 200px 1fr; /* label fixed, input flexible */
    align-items: center;
    height: 50px;
}
.dropdown-group {
    display: grid;
    grid-template-columns: 200px 1fr; /* label fixed, input flexible */
    align-items: center;
    height: 130px;
}
.select-box {
    width: 220px;
    height: 120px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 12px;
}
.option-box{
    width: 200px;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    height: 10px;
}
.radio-inputs {
    display: flex;
    gap: 20px;
    align-items: center;
}
.radio-inputs label {
    display: flex;
    align-items: center;
    gap: 5px; /* space between circle and text */
}
input {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 15px;
}

input[type="submit"],
input[type="reset"]{
    background-color: indigo;
    color: white;
    opacity: 0.6;
    width: 100px;
    height: 30px;
    padding: 2px;
    border-radius: 10px;
    border: thin solid indigo;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover{
    opacity: 1;
}
.error {
    color: red;
    font-weight: bold;
    margin: 10px 0;
}
.success {
    color: green;
    font-weight: bold;
    margin: 10px 0;
}
label small {
    font-size: 12px;
    color: gray;
}