.form-box{
    display: flex;
    justify-content: center;
}
.box{
    padding: 20px;
    border: thin solid lightgray;
    color: indigo;
    margin-top: 50px;
    font-size: 20px;
    width: 400px;
}
.heading{
    text-align: center;
}
.form-group {
    display: grid;
    grid-template-columns: 150px 1fr; /* label fixed, input flexible */
    align-items: center;
}
input{
    width: 200px; /* fill in the grid cell */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 15px;
}
.forgotpwd{
    color: lightgray;
    padding: 5px;
}
.loginbutton{
    background-color: indigo;
    color: white;
    opacity: 0.6;
    width: 100px;
    height: 30px;
    padding: 2px;
    border-radius: 10px;
    border: thin solid indigo;
}
.resetbutton{
    background-color: indigo;
    color: white;
    opacity: 0.6;
    width: 100px;
    height: 30px;
    padding: 2px;
    border-radius: 10px;
    border: thin solid indigo;
    margin-left: 70px;
}
.loginbutton:hover, .resetbutton:hover{
    opacity: 1;
    cursor: pointer;
}
.error {
    color: red;
    font-weight: bold;
    margin: 10px 0;
}
.success {
    color: green;
    font-weight: bold;
    margin: 10px 0;
}