.box{
    margin-top: 40px;
    width: 450px;
}
.form-group {
    grid-template-columns: 160px 1fr;
    height: 50px;
}
.radio-inputs {
    display: flex;
    gap: 20px;
    align-items: center;
}
.radio-inputs label {
    display: flex;
    align-items: center;
    gap: 5px; /* space between circle and text */
}
