.box{
    margin-top: 60px;
    width: 450px;
}
.form-group {
    grid-template-columns: 160px 1fr;
    height: 50px;
}
input[type="radio"] {
    width: 20px;
}
.radio-inputs {
    display: flex;
    gap: 20px;
}
.radio-inputs label {
    display: flex;
}
