.card{
    width:max-content;
    height:max-content;            
    display:inline-block;
    margin:10px;
    padding: 10px;
    border: thin solid lightgray;
    border-radius: 10px;
}
.card-title{
    display: block;
    margin-top:10px;
    font-size:20px;
    color:indigo;
    font-weight:bold;
    text-transform: uppercase;
}
.card-text{
    margin-top:5px;
    font-size: 18px;
    /* font-weight:bold; */
}
.card-buttons{
    margin-top:15px;
    margin-left:50px;
    display:flex;
    gap:50px;
    justify-content: evenly;
}
button{
    background-color: indigo;
    color: white;
    opacity: 0.6;
    width: 100px;
    height: 30px;
    padding: 2px;
    border-radius: 10px;
    border: thin solid indigo;
}
button:hover{
    opacity: 1;
    cursor: pointer;
}
